<% if resource.errors.any? %>
  <%= render Alert::Component.new(title: I18n.t("errors.messages.not_saved",
		count: resource.errors.count,
		resource: resource.class.model_name.human.downcase),
	type: "error",
	body: resource.errors.full_messages,
	timeout: false
	) %>
<% end %>
