<% content_for :title, t("sign_in.page_title") %>

<%= render "layouts/sign_in_up" do %>
  <h1 class="text-accent"><%= t("sign_in.title") %></h1>
  <p class="text-accent"><%= t("sign_in.description") %></p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { novalidate: "novalidate" }) do |f| %>
    <div class="w-full uk-grid uk-grid-small">
      <div class="uk-width-1-1 uk-margin uk-margin-small">
        <%= f.label :email, class:"uk-form-label" %>
        <div class="uk-form-controls">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "uk-input" %>
        </div>
      </div>
      <div class="uk-width-1-1 uk-margin uk-margin-small">
        <div class="flex justify-between">
          <%= f.label :password, class:"uk-form-label" %>
          <% if devise_mapping.recoverable? && controller_name != "passwords" && controller_name != "registrations" %>
            <%= link_to t("sign_in.forgot_password"), new_password_path(resource_name), class: "text-accent text-sm text-opacity-80" %>
          <% end %>
        </div>
        <div class="uk-form-controls">
          <%= f.password_field :password, autocomplete: "current-password", class: "uk-input" %>
        </div>
      </div>
      <div class="flex flex-col w-full my-8">
        <div class="mb-4">
          <%= t("sign_in.new_join") %>
          <%= link_to t("sign_in.btn_sign_up"), new_user_registration_path %>
        </div>
      </div>
    </div>
    <%= f.submit t("sign_in.title"), class: "uk-button uk-button-primary !mt-4 self-center" %>
  <% end %>
<% end %>
